/*fondo principal de la pagina*/
body{
	/*background:  repeat-x center  ;*/
	background-position: 0 160px !important;
	background-image: url(img/bg.png) !important;
	background-repeat: repeat-x !important;
	background-color: #f1f1f1 !important;
}
.bckwpanel{
	background-position: 0 20px !important;
}

#header-menu{ background:#151515;}

/*fondo menu principal*/
.new-menu{
	background: url(img/menu-bg.jpg) center top repeat-x !important; height: 16%; width: 100%
}
/*texto contenido de la pagina*/
p{
	font-family: Arial,Helvetica,sans-serif !important;
}
h3{
	color: #333 !important;
	font-family: Arial,Helvetica,sans-serif !important;
}
a{
	color: #333 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	-webkit-transition: 500ms ease all;
	-moz-transition: 500ms ease all;
	-ms-transition: 500ms ease all;
	-o-transition: 500ms ease all;
	transition: 500ms ease all;
}
a:hover{
	color: #333 !important;
}
button,.button{
	background-color: #39b9d6 !important;
	border-color: #39b9d6 !important;
	color: #eee !important;
}
button:hover,.button:hover{
	background-color: #2FA4BE !important;
	border-color: #2FA4BE !important;
}
label{
	color: #222 !important;
}
.panel{
	background: #f1f1f1 !important;
	border: 1px solid #f1f1f1 !important;
}

/* menu superior */
#top-menu-sup{
	background: #E9E7E7 !important;
	
	width: 557px; 
	float: right; 
	color: #fff !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#top-menu-sup dd{
	color: #fff !important;
}
#top-menu-sup dd a{
	color: #39b9d6 !important;
	padding: 0;
	margin-right: 5px;
	margin-left: -5px; 
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif !important;
	margin-left: -8px;
	-webkit-transition: 500ms ease all;
	-moz-transition: 500ms ease all;
	-ms-transition: 500ms ease all;
	-o-transition: 500ms ease all;
	transition: 500ms ease all;
}

#top-menu-sup dd a:hover{ 
	text-decoration: underline !important;

}
/* fin menu superior */

.top-bar, .top-bar-section, .left {
	/*background:#fff !important;*/
}
.top-bar-section #ul-menu-principal{
	position: relative;
	background: url(img/menu-spacer.gif) left top no-repeat !important;
}

.menuOption1,.menuOption2, .menuOption3, .menuOption4, .menuOption5, .menuOption6, .menuOption7{
	float: left;
	position: relative;
	background: url(img/menu-spacer.gif) right top no-repeat;
	/*padding-right: 2px;*/
}
/* menu principal */
.menuOption1 a , .menuOption2 a, .menuOption3 a, .menuOption4 a, .menuOption5 a, .menuOption6 a, .menuOption7 a{
	display: block !important;
	width: 100% !important;
	color: #fff !important;
	padding: 12px 0 12px 0 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 1.0125rem !important;
	font-weight: normal !important;
	background: transparent !important ;
	text-transform: uppercase !important;
}

.menuOption1 a, .menuOption2 a{
	width: 142px !important;
}
.menuOption1 a:hover, .menuOption2 a:hover{
	
	color: #000 !important;
}

.menuOption3 a, .menuOption6 a, .menuOption7 a{
	width: 141px !important;
}
.menuOption3 a:hover, .menuOption6 a:hover, .menuOption7 a:hover{
	color: #000 !important;
}

.menuOption4 a{
	width: 143px !important;
}
.menuOption4 a:hover{
	color: #000 !important;
}

.menuOption5 a{
	width: 150px !important;
}
.menuOption5 a:hover{
	color: #000 !important;
}
/* end menu principal */

#ul-orbit-principal{
	-webkit-box-shadow: 0px 10px 30px #555;
	-moz-box-shadow: 0px 10px 30px #555;
	box-shadow: 0px 10px 30px #555;
}

/*contenido home dentro del slide de contenido*/
#content-home p{
	color: #999 !important;
}

#newsOrbit span{
	color: #999 !important;
}

/*menu lateral*/
#sub-side-menu h3{
	font-family: Arial, Helvetica, sans-serif !important;
	color: #333 !important;
	font-size: 28px !important;
	/*background: # !important;*/
}
#sub-side-menu ul li a{
	color: #39b9d6 !important;
	padding-left: 5px; 
}
#sub-side-menu ul li a:hover{
	text-decoration: underline !important;
}
#sub-side-menu ul .divider{
	border-top: 1px solid #39b9d6;
}
/*end menu lateral*/


/*primer footer*/
.breadcrumbs{
	background: #E9E7E7 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color:#39b9d6 !important;
	font-family: Arial, Helvetica, sans-serif !important;
}
.breadcrumbs a{
	color:#39b9d6 !important;
}
.breadcrumbs > *:before{
	color:#39b9d6 !important;
}
.breadcrumbs > *:hover a {
	text-decoration: underline !important;
}
/*end primer footer*/


/*segundo footer*/
#secondFooter{
	background: #151515 !important;
	border-bottom: 4px solid #323232 !important;
	border-top: 4px solid #323232 !important;
	color:#fff !important;
	font-size: 20px !important;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif !important;
}
#secondFooter strong{color:#fff !important;}
#secondFooter a{color:#39b9d6 !important;}
#secondFooter a:hover{text-decoration: underline !important;}
/*end segundo footer*/

.orbit-bullets li {
	background-color: #afaa9b !important;
}
.orbit-container .orbit-slides-container li .orbit-caption{
	background-color: #444 !important;
	font-family: Arial, Helvetica, sans-serif !important;
}
.orbit-bullets .active {
	background-color: #39b9d6 !important;
}


/*boton creado a pie para selecionar file*/
.founFile{
	background-color: #39b9d6 !important;
	cursor: pointer !important;
	color: #eee !important;
}
.founFile:hover{
	background-color: #2FA4BE !important;
}
/*fin boton creado a pie para selecionar file*/


.top-bar ul li a{color: #fff !important;}

#menu-wpanel ul li > a {font-size: 0.7625rem !important;}

.wpanel-msg-small{color: #222}
.calendar-row h3{color:#afaa9b !important; }
.close-reveal-modal{color:#afaa9b !important;}
.clearing-close{color:#fff !important;}